body {
    background-image: url("../backgroundGame/บ้าน.jpg");
}

.state1{
    height: 100px;
    width: 100px;
    background-color:red;
}
.state2{
    height: 100px;
    width: 100px;
    background-color:blue;
}
h1{
    font-size:40px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    opacity: 0.8;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1.5em;
}

p{
    text-align: justify;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.text{
    text-align: center;
    font-size:50px;
        margin-left: 6em;
    margin-right: 5em;
}

a{
    font-size: 25px;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: white;
}

button{
    position: absolute;
    font-size: 25px;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: grey;
    border: none;
    color:darkblue;
    opacity: 0.9;
}

#but1{
    left: 30%;
    margin-top: 3em;
}

#but2{
    right: 30%;
    margin-top: 3em;
}