body {
    background-repeat: no-repeat;
    background-image: url("../game bg/1.0.jpg");
}

.state1{
    height: 100px;
    width: 100px;
    background-image: url("../game bg/1.0.jpg");
}

.state2{
    height: 100px;
    width: 100px;
    background-image: url("../game bg/2.0.jpg");
}

.state3{
    height: 100px;
    width: 100px;
    background-image: url("../game bg/3.0.jpg");
}


h1{
    font-size:40px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    opacity: 0.8;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1.5em;
}

p{
    text-align: justify;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.text{
    text-align: center;
    font-size:50px;
        margin-left: 6em;
    margin-right: 5em;
}

a{
    font-size: 25px;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: white;
}

button{
    position: absolute;
    font-size: 25px;
    padding: 40px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    opacity: 0.9;
    border-radius: 50px;
}

.but1{
    left: 30%;
    margin-top: 30%;
    background-image: url(../button/forward.png);
}


#but2{
    right: 30%;
    margin-top: 3em;
}