body {
    background-repeat: no-repeat;
    background-image: url("../game bg/1.0.jpg");
}

h1{
    font-size:40px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    opacity: 0.8;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 1.5em;
}

p{
    text-align: justify;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.text{
    text-align: center;
    font-size:50px;
        margin-left: 6em;
    margin-right: 5em;
}

a{
    font-size: 25px;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: white;
}

button{
    position: absolute;
    padding: 40px 100px;
    display: inline-block;
    cursor: pointer;
    border: none;
    opacity: 0.9;
    border-radius: 30px
}

.but1{
    margin-left: 65vw;
    margin-top: 91vh;
    background-image: url(../button/forward.jpg);
}

.but1:hover{
    background-image: url(../button/forward2.jpg);
}

.but2{
    margin-left: 25vw;
    margin-top: 91vh;
    background-image: url(../button/yes.jpg);
}

.but3{
    margin-left: 75vw;
    margin-top: 91vh;
    background-image: url(../button/no.jpg);
}


img{
    margin-left: 65vw;
    margin-top: 91vh;
    opacity: 0.8;
}

#choose,#choose2{
    display: none;
}

.state1{
    height: 100px;
    width: 100px;
    background-image: url("../game bg/1.0.jpg");
}

.state2{
    height: 100px;
    width: 100px;
    background-image: url("../game bg/2.0.jpg");
}

.state3{
    height: 100px;
    width: 100px;
    background-image: url("../game bg/3.0.jpg");
}

.state4{
    height: 100px;
    width: 100px;
    background-image: url("../game bg/4.0.jpg");
}

.state5{
    height: 100px;
    width: 100px;
    background-image: url("../game bg/4.1.0.jpg");
}

